.footer {
    padding-top: 4em;
}

.footer-heading {
    max-width: 1140px;
    margin-bottom: 3rem;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 15px;
    margin: 0 auto;
}

.footer-links_div h4 {
    color: var(--dark-gray, #656566);
    text-transform: uppercase;
    width: 100%;
    margin: 1rem 0;
}


.footer-links_div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-links_div-case {
    margin-top: 3rem;
}

.footer-links_div-contact {
    text-align: end;
}

.footer-links_div p {
    font-family: inter;
    font-size: 12px;
    line-height: 14px;
    color: var(--light-text, #E4E5EA);
    margin: 0.5rem 0;
    cursor: pointer;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: inter;
    font-size: 12px;
    line-height: 14px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    max-width: 1140px;
    color: var(--dark-gray, #656566);
}

#polit-confid {
    text-decoration: underline;
}

.footer-contact-logo-img {
    margin: 0 5px;
}

@media screen and (max-width: 700px) {
    .footer-heading {
        flex-direction: column;
    }

    .footer-links_div-case {
        margin: 0;
    }

    .footer-copyright {
        align-items: flex-start;
    }

    .footer-heading :last-child {
        text-align: left;
    }
}